@import '../../shared/sharedScss/vars.scss';

.card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    &:hover {
        cursor: default;
    }

    
    .card-body {
        form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            min-height: 12.5rem;
            height: auto;
            input {
                &.error {
                    border-color: $dark-red-color;
                    &::placeholder {
                        color: $dark-red-color;
                    }
                }
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem !important;
                &.half-width {
                    margin-top: 1rem;
                    margin: 0;
                    width: 48%;
                }
            }
            .error {
                color: $dark-red-color;
                text-align: left;
            }
            button {
                margin-right: auto;
                margin-top: 1rem;
                padding: 0.2rem .7rem;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                background-color: $main-light-blue-color;
                border-color: $main-light-blue-color;

                &:focus {
                    box-shadow: none;
                }

                &:active {
                    box-shadow: none !important;
                    color: $main-black-color !important;
                    background-color: $main-light-blue-color !important;
                }
            }
        }
    }
}