@import '../../shared/sharedScss/vars.scss';

.card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    &:hover {
        cursor: default;
    }

    
    .card-body {
        form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            min-height: 12.5rem;
            height: auto;
            input {
                &.error {
                    border-color: $dark-red-color;
                    &::placeholder {
                        color: $dark-red-color;
                    }
                }
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem !important;
                &.half-width {
                    margin-top: 1rem;
                    margin: 0;
                    width: 48%;
                }
            }
            .list {
                $btn-right-position: 17px;
                position: relative;
                select {
                    pointer-events: none;
                    user-select: none;
                    -webkit-appearance: menulist-textfield;
                    .list-header {
                        background-color: $main-light-blue-color;
                        color: $main-white-color;
                        font-size: 1.2rem;
                    }

                    option {
                        pointer-events: all;
                    }
                }
                button {
                    position: absolute;
                    top: -8px;
                    right: $btn-right-position;
                    margin: 0;
                    padding: 0;
                }

                .add-btn {
                    background: transparent;
                    border: none;
                    color: $main-white-color;
                    font-size: 1.5rem;
                }

                .delete-btn {
                    background: transparent;
                    z-index: 1000;
                    border: none;
                    color: $main-white-color;
                    font-size: 1rem;
                    display: none;
                    right: $btn-right-position+4px;
                }

                .edit-btn {
                    right: $btn-right-position+25px;
                    background: transparent;
                    z-index: 1000;
                    border: none;
                    color: $main-white-color;
                    font-size: 1rem;
                    display: none;
                }
            }
            .error {
                color: $dark-red-color;
                text-align: left;
            }
            button {
                margin-right: auto;
                margin-top: 1rem;
                padding: 0.2rem .7rem;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                background-color: $main-light-blue-color;
                border-color: $main-light-blue-color;

                &:focus {
                    box-shadow: none;
                }

                &:active {
                    box-shadow: none !important;
                    color: $main-black-color !important;
                    background-color: $main-light-blue-color !important;
                }
            }
        }
    }
}