@import './shared/sharedScss/vars.scss';

.main-div {
    background: linear-gradient(160deg, #02acef 50%, #586ae2 85%);
    height: 1000px;
    width: 100%;
    padding-top: 3rem;

    ::selection {
        background-color: $main-light-blue-color;
        color: $main-white-color;
    }

}

.fade {
    opacity: .95 !important;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .15s linear !important;
}

.show {
    transform: scaleY(1);
}

.alert {
    position: absolute !important;
    width: 100%;
    top: 0;
    z-index: 9000;
    padding: .4rem 1.25rem;
    border-radius: 0 !important;
    
    .alert-heading {
        font-weight: 700;
        margin-bottom: 0;
    }
}

.tooltip-error {
    &.bs-tooltip-left {
        .arrow {
            &::before {
                border-left-color: $dark-red-color !important;
            }
        }
    }

    &.bs-tooltip-right {
        .arrow {
            &::before {
                border-right-color: $dark-red-color !important;
            }
        }
    }
    .tooltip-inner {
        background-color: $transperent-red-color;
        color: $dark-red-color;
        border: 1px solid $dark-red-color;
    }
}